<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Inventory.Properties.Settings.tempdbConnectionString"
            connectionString="Data Source=TTB-SERVER\SQLEXPRESS;Initial Catalog=tempdb;Persist Security Info=True;User ID=shipit2;Password=shipit2"
            providerName="System.Data.SqlClient" />
        <add name="Inventory.Properties.Settings.ConnectionStringMegaTron"
            connectionString="Data Source=MEGATRON\SQLEXPRESS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>