<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
      <!--conn.ConnectionString = "Server=192.168.0.17,50088;Initial Catalog=BTData;Network Library=DBMSSOCN;User ID=shipit2;Password=shipit2";-->
      <!--connectionString="Data Source=KEN-LAPTOP\SQLEXPRESS;Initial Catalog=BTData;Integrated Security=True"-->
      <!--connectionString="Data Source=MEGATRON\SQLEXPRESS;Initial Catalog=TTBDB;Integrated Security=True"-->
      <add name="ProductManager.Properties.Settings.BTDataConnectionString"
            connectionString="Data Source=KEN-LAPTOP\SQLEXPRESS;Initial Catalog=BTData;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>